
<div *ngIf="evento">
    <h2><span>Evento</span> {{evento.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{evento.nombre}}</span>
        </dd>
        <dt><span>Resumen</span></dt>
        <dd>
            <span>{{evento.resumen}}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
            <span>{{evento.descripcion}}</span>
        </dd>
        <dt><span>Precio</span></dt>
        <dd>
            <span>{{evento.precio}}</span>
        </dd>
        <dt><span>Ubicacion</span></dt>
        <dd>
            <span>{{evento.ubicacion}}</span>
        </dd>
        <dt><span>Horario</span></dt>
        <dd>
            <span>{{evento.horario | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Imagenes</span></dt>
        <dd>
            <div *ngIf="evento.imagenes">
                <a (click)="openFile(evento.imagenesContentType, evento.imagenes)">open</a>
                {{evento.imagenesContentType}}, {{byteSize(evento.imagenes)}}
            </div>
        </dd>
        <dt><span>Destacado</span></dt>
        <dd>
            <span>{{evento.destacado}}</span>
        </dd>
        <dt><span>Estado</span></dt>
        <dd>
            <span>{{evento.estado}}</span>
        </dd>
        <dt><span>Categoria</span></dt>
        <dd>
            <div *ngIf="evento.categoria">
                <a [routerLink]="['/categoria', evento.categoria?.id]">{{evento.categoria?.nombre}}</a>
            </div>
        </dd>
        <dt><span>Usuario Creador</span></dt>
        <dd>
            <div *ngIf="evento.usuarioCreador">
                <a [routerLink]="['/usuario', evento.usuarioCreador?.id]">{{evento.usuarioCreador?.id}}</a>
            </div>
        </dd>
        <dt><span>Tags</span></dt>
        <dd>
            <span *ngFor="let tags of evento.tags; let last = last">
                <a [routerLink]="['/tags', tags?.id ]">{{tags.nombre}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'evento/'+ evento.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
