<div *ngIf="evento">
    <h2><span>Evento:</span> {{evento.nombre}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{evento.nombre}}</span>
        </dd>
        <dt><span>Resumen</span></dt>
        <dd>
            <span>{{evento.resumen}}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
            <span>{{evento.descripcion}}</span>
        </dd>
        <dt><span>Precio</span></dt>
        <dd>
            <span>{{evento.precio}}</span>
        </dd>
        <dt><span>Ubicacion</span></dt>
        <dd>
                <agm-map 
                    [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    [zoomControl]="false">

                    <agm-marker 
                        (markerClick)="clickedMarker(marcador.label, i)"
                        [latitude]="marcador.lat"
                        [longitude]="marcador.lng"
                        [label]="marcador.label"
                        [markerDraggable]="marcador.draggable">
                        
                        <agm-info-window>
                        <strong>Tu evento</strong>
                        </agm-info-window>
                        
                    </agm-marker>
                </agm-map>
        </dd>
        <dt><span>Fecha</span></dt>
        <dd>
            <span>{{evento.fecha | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Hora</span></dt>
        <dd>
            <span>{{evento.hora}}</span>
        </dd>
        <dt><span>Imagenes</span></dt>
        <dd>
            <div *ngIf="evento.imagenes">
                <a (click)="openFile(evento.imagenesContentType, evento.imagenes)">open</a>
                {{evento.imagenesContentType}}, {{byteSize(evento.imagenes)}}
            </div>
        </dd>
        <dt><span>Estado</span></dt>
        <dd>
            <span *ngIf="evento.estado === true">Habilitado</span>
            <span *ngIf="evento.estado === false">Deshabilitado</span>
        </dd>
        <dt><span>Categoria</span></dt>
        <dd>
            <div *ngIf="evento.categoria">
                <span>{{evento.categoria?.nombre}}</span>
            </div>
        </dd>
        <dt><span>Tags</span></dt>
        <dd>
            <span *ngFor="let tags of evento.tags; let last = last">
                <span>{{tags.nombre}}</span>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Participantes</span></dt>
        <dd>
            <span *ngFor="let usuarioRegistrado of evento.usuarioRegistrados; let last = last">
                <a [routerLink]="['/usuario', usuarioRegistrado?.id ]">{{usuarioRegistrado.user.firstName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
    <button type="button" *ngIf="userId == evento.usuarioCreador.id"
            [routerLink]="['/', { outlets: { popup: 'evento-usuario/'+ evento.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Editar</span>
    </button>

    <ng-container  *ngIf="userId !== evento.usuarioCreador.id">
        <ng-container *ngFor="let usuarioRegistrado of evento.usuarioRegistrados;">
            <ng-container *ngIf="userId == usuarioRegistrado?.id">
                <span class="btn btn-primary">{{isRegistrado()}}</span>
            </ng-container>
        </ng-container>
        <button type="button" *ngIf="control"
                (click)="registro()"
                class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;<span> Registrarse</span>
        </button>
    </ng-container>
</div>
