<div>
    <h2>
        <span>Tus Eventos Creados</span>
        <button class="btn btn-primary float-right jh-create-entity create-evento" [routerLink]="['/', { outlets: { popup: ['evento-usuario-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Evento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="eventos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="nombre"><span>Nombre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resumen"><span>Resumen</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="precio"><span>Precio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fecha"><span>Fecha</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hora"><span>Hora</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estado"><span>Estado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categoria.nombre"><span>Categoria</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let evento of eventos ;trackBy: trackId">
                <td>{{evento.nombre}}</td>
                <td>{{evento.resumen}}</td>
                <td>{{evento.precio}}</td>
                <td>{{evento.fecha | date:'mediumDate'}}</td>
                <td>{{evento.hora}}</td>
                <td *ngIf="evento.estado === true">Habilitado</td>
                <td *ngIf="evento.estado === false">Deshabilitado</td>
                <td>
                    <div *ngIf="evento.categoria">
                        <a [routerLink]="['../categoria', evento.categoria?.id ]" >{{evento.categoria?.nombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../evento-usuario', evento.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'evento-usuario/'+ evento.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                (click)="cambiarEstado(evento.id)"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-check"></span>
                            <span class="d-none d-md-inline">Habilitar/Deshabilitar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
