<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Resetear contraseña</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Elige una nueva contraseña/p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>La contraseña no pudo ser cambiada. Recuerda que el pedido de cambio de clave solo es valido por 24 horas.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Tu contraseña fue reseteada.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">sign in</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                La contraseña y su confirmacion no coinciden!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Nueva contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="Nueva contraseña"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                                Tu contraseña es necesaria.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                                Tu contraseña tiene que tener al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                                Tu contraseña no puede tener mas de 50 caracteres.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">New password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Confirmar nueva contraseña"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                                La confirmacion es necesaria.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                                Tu contraseña tiene que tener al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                                Tu contraseña no puede tener mas de 50 caracteres.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Cambiar contraseña</button>
                </form>
            </div>

        </div>
    </div>
</div>
