<div>
    <h2>
        <span>Notificaciones</span>
        <button class="btn btn-primary float-right jh-create-entity create-notificaciones" [routerLink]="['/', { outlets: { popup: ['notificaciones-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Notificaciones
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="notificaciones">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Descripcion</span></th>
            <th><span>Usuario</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notificaciones of notificaciones ;trackBy: trackId">
                <td><a [routerLink]="['../notificaciones', notificaciones.id ]">{{notificaciones.id}}</a></td>
                <td>{{notificaciones.descripcion}}</td>
                <td>
                    <div *ngIf="notificaciones.usuario">
                        <a [routerLink]="['../usuario', notificaciones.usuario?.id ]" >{{notificaciones.usuario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../notificaciones', notificaciones.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'notificaciones/'+ notificaciones.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'notificaciones/'+ notificaciones.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
