<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Activacion</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Tu cuenta ha sido activada.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Tu usuario no puede ser activado.</strong> Por favor registrate con otra cuenta.
            </div>

        </div>
    </div>
</div>
