<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">

            <div *ngSwitchCase="true">
                <h1 class="display-4">Bienvenido, {{account.firstName}}!</h1>
                <p class="lead">This is your homepage</p>
                <div class="alert alert-success">
                    <span *ngIf="account"> You are logged in as user "{{account.login}}". </span>
                </div>
            </div>

            <div *ngSwitchCase="false">
                <h1 class="display-4">Welcome, Java Hipster!</h1>
                <p class="lead">This is your homepage</p>
                <div class="alert alert-warning">
                    <span>You don't have an account yet?</span>
                    <a class="alert-link" routerLink="register">Register a new account</a>
                </div>
            </div>

            <p class="lead">Listado de Eventos</p>
            <p class="lead">Buscador</p>
            <div class="row">
                <div class="col-sm-5">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group w-100 mt-3">
                            <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Campo">
                            <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <jhi-footer></jhi-footer>
            </div>
        </div>
    </div>
</div>