<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Resetear contraseña</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Ese email no esta registrado</strong> Por favor verifica e intenta de nuevo.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Ingresa el email que usaste para registrarte.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Verifica tu email para mas detalles sobre como reiniciar tu contraseña.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Tu email"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Tu email es necesario.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Tu email no es valido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            Tu email tiene que tener al menos 5 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            Tu email no puede tener mas de 100 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Reiniciar</button>
            </form>

        </div>
    </div>
</div>
